@import '../../../styles/mixins';

.container {
  @include container-lg;
  .features {
    &_head {
      @include flex-container;

      .main_head {
        @include main-head;
        @include fontFamily;
        font-size:30 px;
        border-left:var( --bs-border_subHeading);
        padding-left: 0.8rem;
        margin: 0;
      }
      .main_text {
        width: 60%;
        display: flex;
        text-align: center;
        @include main-text;
        @include fontFamily;
      }
    }
    &_bottom {
      &_carousel {
        position: unset;
        button:nth-child(2) {
          background-color: var( --bs-darkBlue);
          color: var(--bs-white);
          box-shadow: var(--bs-boxShadow);
          left: calc(2%);
        }
        button:nth-child(3) {
          background-color: var(--bs-white);
          color: var(--bs-darkBlue);
          box-shadow: var(--bs-boxShadow);
          right: calc(2%);

          border: var(--bs-border_darkblue);
        }
        button:nth-child(3)::before {
          color: var(--bs-darkBlue);
        }

        &_slide {
        

          &_right_sec {
            flex: 1;
          }

          &_left_sec {
            flex: 1;
            text-align: center;
            font-size: 56px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0.015em;
          }
        }
      }
    }
  }
}

@media (min-width: 464px) and (max-width: 1024px) {
  .container {

    .features {
      &_head {
        text-align: center;
        padding: 2rem 6rem;
  
        .main_head {
       font-size: 24px;
        }
        .main_text {
     width: 100%;
     font-size: 14px;
        }
      }
      &_bottom {
        &_carousel {
          position: unset;
          button:nth-child(2) {
            background-color: var( --bs-darkBlue);
            color: var(--bs-white);
            box-shadow: var(--bs-boxShadow);
            left: calc(14%);
            min-width: 30px;
            min-height: 30px;
          }
          button:nth-child(3) {
            background-color: var(--bs-white);
            color: var(--bs-darkBlue);
            box-shadow: var(--bs-boxShadow);
            right: calc(14%);
  
            border: var(--bs-border_darkblue);
            min-width: 30px;
            min-height: 30px;
          }
          button:nth-child(2)::before{
            font-size: 10px;
            color: #fff;
            display: block;
            font-family: revicons;
            text-align: center;
            z-index: 2;
            position: relative;
          }
          button:nth-child(3)::before {
            color: var(--bs-darkBlue);
            font-size: 10px;
           
            display: block;
            font-family: revicons;
            text-align: center;
            z-index: 2;
            position: relative;
          }
  
          &_slide {
          
  
            &_right_sec {
              flex: 1;
            }
  
            &_left_sec {
              flex: 1;
              text-align: center;
              font-size: 56px;
              font-weight: 400;
              line-height: 24px;
              letter-spacing: 0.015em;
            }
          }
        }
      }
    }
  }
}
@media (min-width:0 ) and (max-width: 464px) {
  .container {

    .features {
      &_head {
        text-align: center;
        padding: 0 1rem;
  
        .main_head {
       font-size: 18px;
        }
        .main_text {
     width: 100%;
     font-size: 12px;
        }
      }
      &_bottom {
        &_carousel {
          position: unset;
          button:nth-child(2) {
            background-color: var( --bs-darkBlue);
            color: var(--bs-white);
            box-shadow: var(--bs-boxShadow);
            left: calc(38%);
            min-width: 30px;
            min-height: 30px;
          }
          button:nth-child(3) {
            background-color: var(--bs-white);
            color: var(--bs-darkBlue);
            box-shadow: var(--bs-boxShadow);
            right: calc(38%);
  
            border: var(--bs-border_darkblue);
            min-width: 30px;
            min-height: 30px;
          }
          button:nth-child(2)::before{
            font-size: 10px;
            color: #fff;
            display: block;
            font-family: revicons;
            text-align: center;
            z-index: 2;
            position: relative;
          }
          button:nth-child(3)::before {
            color: var(--bs-darkBlue);
            font-size: 10px;
           
            display: block;
            font-family: revicons;
            text-align: center;
            z-index: 2;
            position: relative;
          }
  
          &_slide {
          
  
            &_right_sec {
              flex: 1;
            }
  
            &_left_sec {
              flex: 1;
              text-align: center;
              font-size: 56px;
              font-weight: 400;
              line-height: 24px;
              letter-spacing: 0.015em;
            }
          }
        }
      }
    }
  }
}